/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#curtain {
    display: block;
    width: 100%;
    position: absolute;
    margin: -8px;
    height: 100%;
    background-color: black;
    text-align: center;   
}

#curtain h1 {
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    margin-top: 20%;
    font-size: 30px;
    cursor: pointer;
    letter-spacing:  10px;
    transition: 0.5s ease-in-out;
    
}

#curtain h1:hover {
    font-size: 40px;
    transition: 0.5s ease-in-out;
}

#chatbox {
    font-family: 'Press Start 2P', cursive;
    display: block;
    width: 100%;
    position: absolute;
    margin: -8px;
    height: 100%;
    background-color: #0c0c0c;
    text-align: center;  
    visibility: hidden;
}

#chatbox .dialog {
    background-color: black;
    padding: 10px;
    margin: 2px;
    text-align: left;
    font-size: 11px;
}
